.container .content-voting {
	background: #2981bb;
    border: 1px solid #F5F5F5;
    border-radius: 2px;
    padding: 30px;
    font-family: "proxima-nova";
    font-weight: 300;
    font-size: 16px;
    color: #ecf0f1;
    letter-spacing: 0.5px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
}
.container .content-voting2 {
	background: #e74c3c;
    border: 1px solid #F5F5F5;
    border-radius: 2px;
    padding: 30px;
    font-family: "proxima-nova";
    font-weight: 300;
    font-size: 16px;
    color: #ecf0f1;
    letter-spacing: 0.5px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
}

.container .content-voting3 {
	background: #27ae60;
    border: 1px solid #F5F5F5;
    border-radius: 2px;
    padding: 30px;
    font-family: "proxima-nova";
    font-weight: 300;
    font-size: 16px;
    color: #ecf0f1;
    letter-spacing: 0.5px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
}
.content button {
	color: #000;
}